<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body style="background-color:rgb(175, 235, 213)">
  <nav class="navbar navbar-default navbar-fixed-top">
    <img src="/static/images/logo.png" style="margin-left:40%">
  </nav>
  <div class="col-sm-3 col-md-3 col-lg-3">

  </div>
  <div class="col-sm-9 col-md-9 col-lg-9">
    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
      <div class="tabs" style="margin-top:210px">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
              mdl-layout--fixed-tabs">
          <header class="mdl-layout__header" style="background-color:rgb(101, 177, 161)">
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color:rgb(101, 177, 161)">
              <a href="#fixed-tab-1" class="mdl-layout__tab is-active" style="font-weight:bolder; text-decoration:none">FARMERS</a>
              <a href="#fixed-tab-2" class="mdl-layout__tab" style="font-weight:bolder;text-decoration:none">SELLERS</a>
            </div>
          </header>
          <main class="mdl-layout__content" style="height: 500px">
            <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
              <div class="page-content">


                    <h1>farmers</h1>
                    <h1>farmers</h1>
                    <h1>farmers</h1>
                    <h1>farmers</h1>
                    <h1>farmers</h1>
                    <h1>farmers</h1>


              </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-2">
              <div class="page-content">

                  <div class="well">
                    <h1>sellers</h1>
                    <h1>sellers</h1>
                    <h1>sellers</h1>
                    <h1>sellers</h1>
                    <h1>sellers</h1>
                    <h1>sellers</h1>
                  </div>


              </div>
            </section>
          </main>
        </div>
      </div>


    </div>

    <div class="col-sm-1 col-md-1 col-lg-1">

    </div>
  </div>

</body>

</html>
