<h1>Hey</h1>
{% for user in users%}
<h3>{{user.name}}</h3>
{%endfor%}
<hr>
<h3>Shows products matching users and the users having those products</h3>
{% for product in filtered_products %}
<h3>{{product.name}}:&nbsp;{{product.user.name}}</h3>
{%endfor%}

<hr>
<h3> List of product meeting the price requirements</h3>
{% for product in list_price %}
<h3>{{product.name}}:&nbsp;{{product.user.name}}</h3>
{% endfor %}

<hr>
<h3>List of product within a users location </h3>
{% for product in list_location %}
<h3>{{product.name}}:&nbsp;{{product.user.name}}</h3>
{%endfor%}
<hr>
<h3>List of product within nearest town</h3>
{% for product in list_town %}
<h3>{{product.name}}:&nbsp;{{product.user.name}}</h3>
{%endfor%}

<hr>
<h3>List of final products after filtering</h3>
{% for product in results_list %}
<h3>{{product.name}}:&nbsp;{{product.user.name}}</h3>
{%endfor%}

<hr>
<h3>List of phonenumbers the user will recieve</h3>
<!-- {% for message in messages %}
{{messages}}
{%endfor%} -->
{{messages}}